*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

CMakeFiles
CMakeCache.txt
Makefile
*.cmake
compile_commands.json
.cache

.idea
.vscode
.ignore
.directory
music.cfg
musicdb
atlas.png
albums.png
/build
