[theme]
text_color=hsv(312, 0.20, 0.95)
text_color_muted=hsv(312, 0.15, 0.80)
text_color_disabled=hsv(312, 0.20, 0.75)

top_bar_height=30

controls_panel_height=44
controls_panel_padding=4

seekbar_track_thickness=12
seekbar_thumb_length=12
seekbar_thumb_thickness=12



prev_button_nine_slice_margin=0
prev_button_width=36
play_pause_button_nine_slice_margin=0
play_pause_button_width=36
stop_button_nine_slice_margin=0
stop_button_width=36
next_button_nine_slice_margin=0
next_button_width=36
repeat_button_nine_slice_margin=0
repeat_button_width=36
shuffle_button_nine_slice_margin=0
shuffle_button_width=36



playlist_title_text_color=hsv(312, 0.20, 0.86)
playlist_artist_text_color=hsv(312, 0.20, 0.86)

# Tracklist header
tracklist_playlist_header_height=48
tracklist_header_author_color=hsv(312, 0.30, 0.66)
tracklist_header_name_color=hsv(312, 0.30, 0.86)
# Tracklist tracks
tracklist_track_height=22
tracklist_artist_text_color=hsv(312, 0.20, 0.50)
tracklist_track_number_text_color=hsv(312, 0.20, 0.65)
tracklist_title_text_color=hsv(312, 0.20, 0.80)
tracklist_length_text_color=hsv(312, 0.20, 0.50)
